.title-about-us {
  margin-top: 20px;
}

.top-blocks {
  div {
    float: left;
    margin-top: 10px;
    img {
      margin: 0 auto;
    }
  }
}

.top-learn-more {
  margin: 30px auto 0;
}

.right-block {
  margin-top: 100px;
  float: right;
  padding-right: 1px;
}

.left-block {
  margin-top: 100px;
  float: left;
}