header {
  background: url("../img/first-background.png") #666666 50% 50% no-repeat;
  height: 1068px;
}

nav {
  float: right;
}

.menu {
  li {
    margin-left: 50px;
    float: left;
    .navigation {
      padding: 5px 10px;
    }
  }
}

.logo {
  position: relative;
  top: 10px;
}

.slider-button-left {
  position: absolute;
  top: 400px;
}

.slider-button-right {
  position: absolute;
  top: 400px;
  right: 0;
}

.title {
  position: relative;
  top: 350px;
  left: 230px;
}

.under-title {
  position: relative;
  top: 375px;
  left: 330px;
}

.slider-title {
  display: flex;
  justify-content: center;
  vertical-align: middle;
  position: relative;
  top: 450px;
  right: 30px;
  li {
    float: left;
  }
}