.adam-background {
  background: url("../img/second background.png") #666666 50% 50% no-repeat;
  height: 708px;
  margin-top: 50px;
}

.second-background-area {
  img {
    display: block;
    position: relative;
    top: 200px;
    left: 560px;
  }
}

.title-opinions {
  color: $primary-color;
  font-family: $Raleway;
  font-size: 30px;
  font-weight: 300;
  line-height: 96px;
  letter-spacing: 0.75px;
  display: block;
  text-align: center;
  position: relative;
  top: 210px;

  b {
    color: #17daa3;
    letter-spacing: 0.75px;
  }
}

.under-title-opinions {
  opacity: 0.3;
  color: #ffffff;
  font-family: $Raleway;
  font-size: 18px;
  font-weight: 300;
  line-height: 96px;
  letter-spacing: 0.45px;
  display: block;
  text-align: center;
  position: relative;
  top: 200px;
  width: 800px;
  left: 200px;
}

.opinions {
  display: flex;
  justify-content: center;
  vertical-align: middle;
  position: relative;
  top: 250px;
  li {
    list-style: none;
    float: left;
    a{
      text-decoration: none;
      background-color: #5a5a5a;
      border: 2px solid white;
      border-radius: 50%;
      padding: 10px;
      font-size: 1px;
      color: white;

      &:hover {
        background-color: white;
        transition: background-color 2s ease-in 0.3s;
      }

      &:active {
        background-color: white;
      }
    }
  }
}