.adam-background {
  background: url("../img/second background.png") #666666 50% 50% no-repeat;
  height: 708px;
  margin-top: 50px;
}

.second-background-area {
  img {
    display: block;
    position: relative;
    top: 200px;
    left: 560px;
  }
}

.title-opinions {
  position: relative;
  top: 210px;
}

.under-title-opinions {
  position: relative;
  top: 200px;
  width: 800px;
  left: 200px;
}

.opinions {
  display: flex;
  justify-content: center;
  vertical-align: middle;
  position: relative;
  top: 250px;
  li {

    float: left;
  }
}
