.title-our-services {
  margin-top: 50px;
}

.types-of-services {
  float: left;
  div {
    padding-left: 50px;
  }
}

.portfolio::before {
  position: absolute;
  left: 5px;
}

.design::before {
  position: absolute;
  right: 560px;
}

.branding::before {
  position: absolute;
  left: 5px;
}

.development::before {
  position: absolute;
  right: 560px;
}