.pricing {
  margin-top: 50px;

}

.price-block {
  float: left;
}

a {
  padding-left: 20px;
}


.different-blocks {
  margin-right: 15px;
  margin-left: 15px;
}

.map {
  margin-top: 50px;
  float: left;
}